---
import "../styles/footer.css";
---

<footer class="footer">
  <div class="container footer__content">
    <!-- LOGO / INFO -->
    <div class="footer__box">
      <img src="/gustavo.png" alt="Logo Gustosi" class="footer-logo" />

      <h3>Gustosi Minimarket</h3>
      <p>Tu Tienda Rapida y Confiable</p>
    </div>

    <!-- LINKS -->
    <div class="footer__box">
      <h4>Enlaces</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/nosotros">Sobre Nosotros</a></li>
        <li><a href="#productos">Productos</a></li>
      </ul>
    </div>

    <!-- CONTACTO -->
    <div class="footer__box">
      <h4>Contacto</h4>
      <p><i class="fa-solid fa-phone"></i> +51 900395227</p>
      <p><i class="fa-solid fa-location-dot"></i> Tarapoto-peru</p>
    </div>
  </div>

  <div class="footer__bottom">
    &copy; {new Date().getFullYear()} Gustosi
  </div>
</footer>
